@import '../mixin';

/* =============== Button =============== */
.button,
button {
  display: inline-block;
  line-height: 2.5em;
  appearance(none);
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);

  &:focus {
    outline: none !important;
  }

  &.small {
    line-height: 2.25em;
  }
  &.tiny {
    line-height: 2.0em;
  }
  &.anchor {
    width: 100%;
  }
}
