@import '../mixin';

/* =============== Form =============== */
form,
.form{
  input:not([type="checkbox"]),
  textarea,
  select,
  .progress,
  label.select{
    font-size: 1em;
    &.large {
      font-size: 1.5em;
    }
  }

  input[type="text"],
  input[type="password"],
  input[type="date"],
  input[type="datetime"],
  input[type="email"],
  input[type="number"],
  input[type="search"],
  input[type="tel"],
  input[type="time"],
  input[type="url"],
  select,
  textarea,
  label.select {
    display: inline-block;
    width: 100%;
    padding: 0 0.5em;
    transition(all 100ms linear);
    font-family: inherit;
    appearance(none);
    user-select(text);
    /* 移除ios中选中的灰色框效果 */
    -webkit-tap-highlight-color: rgba(0, 0, 0, 0);

    &:not(.border) {
      border: 0;
    }
    &:focus {
      outline: none !important;
    }
    &.border {
      &,
      > select {
        padding: 0.3em 0.4em;
      }
    }
  }
}
