//vendor-prefixes
// w: -webkit-
// f: -moz-
// m: -ms-
// o: -o-
vendor(name, args) {
  -webkit-{name}: args;
  -moz-{name}: args;
  -ms-{name}: args;
  -o-{name}: args;
  {name}: args;
}
vendor-wmo(name, args) {
  -webkit-{name}: args;
  -ms-{name}: args;
  -o-{name}: args;
  {name}: args;
}
vendor-wf(name, args) {
  -webkit-{name}: args;
  -moz-{name}: args;
  {name}: args;
}
vendor-mw(name, args) {
  -ms-{name}: args;
  -webkit-{name}: args;
  {name}: args;
}
vendor-webkit(name, args) {
  -webkit-{name}: args;
  {name}: args;
}
