// Box sizing
box-sizing(value) {
  vendor-webkit(box-sizing, value);
}

// Border radius
border-radius(value) {
  vendor(border-radius, value);
}

// Backface visibility
backface-visibility(visibility) {
  vendor-webkit(backface-visibili, visibility);
}

// Box shadows
box-shadow(shadow) {
  vendor-webkit(box-shadow, shadow);
}

// User select
// -ms-: ie(ie < 10 not supported)
// -moz-: firefox
// -webkit-: chrome, safari. opera, ios safari, android
user-select(select) {
  vendor(user-select, select);
}

// Appearance
appearance(value) {
  vendor-wf(appearance, value);
}
