// Transitions
transition(args) {
  vendor-webkit(transition, args);
}
transition-property(args) {
  vendor-webkit(transition-property, args);
}
transition-delay(args) {
  vendor-webkit(transition-delay, args);
}
transition-duration(args) {
  vendor-webkit(transition-duration, args);
}
transition-timing-function(args) {
  vendor-webkit(transition-timing-function, args);
}
