// Transformations
// -ms-: ie 9;
scale(ratio) {
  vendor-wmo(transform, scale(ratio));
}
scale(ratioX, ratioY) {
  vendor-wmo(transform, scale(ratioX, ratioY));
}
scaleX(ratio) {
  vendor-wmo(transform, scaleX(ratio));
}
scaleY(ratio) {
  vendor-wmo(transform, scaleY(ratio));
}
skew(x, y) {
  vendor-wmo(transform, skewX(x) skewY(y));
}
translate(x, y) {
  vendor-wmo(transform, translate(x, y));
}
translate3d(x, y, z) {
  vendor-wmo(transform, translate3d(x, y, z));
}
rotate(degrees) {
  vendor-wmo(transform, rotate(degrees));
}
rotateX(degrees) {
  vendor-wmo(transform, rotateX(degrees));
}
rotateY(degrees) {
  vendor-wmo(transform, rotateY(degrees));
}
perspective(value) {
  vendor-wmo(perspective, value);
}
perspective-origin(perspective) {
  vendor-wmo(perspective-origin, perspective);
}
transform-origin(origin) {
  vendor-wmo(transform-origin, origin);
}
