@import '__vendor.styl';

// Animations
// -webkit-: chrome 42-, safari, opera 29-, ios safari, android
animation(args) {
  vendor('wf', animation, args);
}
animation-name(name) {
  vendor('wf', animation-name, name);
}
animation-duration(duration) {
  vendor('wf', animation-duration, duration);
}
animation-timing-function(timing-function) {
  vendor('wf', animation-timing-function, timing-function);
}
animation-delay(delay) {
  vendor('wf', animation-delay, delay);
}
animation-iteration-count(iteration-count) {
  vendor('wf', animation-iteration-count, iteration-count);
}
animation-direction(direction) {
  vendor('wf', animation-direction, direction);
}
animation-fill-mode(fill-mode) {
  vendor('wf', animation-fill-mode, fill-mode);
}
