@import '__vendor.styl';

// Box sizing
box-sizing(value) {
  vendor('w', box-sizing, value);
}

// Border radius
// use css border-radius

// Backface visibility
backface-visibility(visibility) {
  vendor('w', backface-visibili, visibility);
}

// Box shadows
// use css box-shadow
// link: http://caniuse.com/#feat=css-boxshadow

// User select
// -ms-: ie(ie < 10 not supported)
// -moz-: firefox
// -webkit-: chrome, safari. opera, ios safari, android
user-select(select) {
  vendor('mfw', user-select, select);
}

// Appearance
appearance(value) {
  vendor('wf', appearance, value);
}
