@import '__vendor.styl';

// Transitions
transition(args) {
  vendor('w', transition, args);
}
transition-property(args) {
  vendor('w', transition-property, args);
}
transition-delay(args) {
  vendor('w', transition-delay, args);
}
transition-duration(args) {
  vendor('w', transition-duration, args);
}
transition-timing-function(args) {
  vendor('w', transition-timing-function, args);
}
