@import '__vendor.styl';

// Transformations
// -ms-: ie 9;
scale(ratio) {
  if(mixin) {
    vendor('wm', transform, scale(ratio));
  } else {
    'scale(' + ratio + ')'
  }
}
scaleX(ratio) {
  if(mixin) {
    vendor('wm', transform, 'scaleX(' + ratio + ')');
  } else {
    'scaleX(' + ratio + ')'
  }
}
scaleY(ratio) {
  if(mixin) {
    vendor('wm', transform, 'scaleY(' +ratio + ')');
  } else {
    'scaleY(' +ratio + ')'
  }
}
skew(x, y) {
  if(mixin) {
    vendor('wm', transform, 'skewX(' + x + ') skewY(' + y + ')');
  } else {
    'skewX(' + x + ') skewY(' + y + ')'
  }
}
translate(x, y) {
  if(mixin) {
    vendor('wm', transform, 'translate(' + x +', ' + y + ')');
  } else {
    'translate(' + x +', ' + y + ')'
  }
}
translate3d(x, y, z) {
  if(mixin) {
    vendor('wm', transform, 'translate3d(' + x +',' + y + ', ' + z +')');
  } else {
    'translate3d(' + x +',' + y + ', ' + z +')'
  }
}
rotate(degrees) {
  if(mixin) {
    vendor('wm', transform, 'rotate(' + degrees + ')');
  } else {
    'rotate(' + degrees + ')'
  }
}
rotateX(degrees) {
  if(mixin) {
    vendor('wm', transform, 'rotateX(' + degrees + ')');
  } else {
    'rotateX(' + degrees + ')'
  }
}
rotateY(degrees) {
  if(mixin) {
    vendor('wm', transform, 'rotateY(' + degrees + ')');
  } else {
    'rotateY(' + degrees + ')'
  }
}
perspective(value) {
  vendor('wm', perspective, value);
}
perspective-origin(perspective) {
  vendor('wm', perspective-origin, perspective);
}
transform-origin(origin) {
  vendor('wm', transform-origin, origin);
}
